<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.library">

    <application>
        <activity android:name=".list.multiplechoice.MultipleChoiceListActivity"></activity>
        <activity android:name=".list.singlechoice.SingleChoiceListActivity" />
        <activity android:name=".list.refreshload.RefreshLoadListActivity" />
        <activity android:name=".filedownload.FileDownloadActivity" />
        <activity android:name=".glide.GlideUseActivity" />
        <activity android:name=".toolbar.CommonToolbarActivity" />
        <activity android:name=".lazyload.LazyLoadActivity" />
        <activity android:name=".mainpage.MainPageActivity" />
        <activity android:name=".http.HttpSampleActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>